@import "../../../../../../../shared/styles/custom-scroll";
@import "../../../../../../../shared/styles/colors";
@import "../../../../../../../shared/styles/star";

.card {
  box-sizing: border-box;
  position: relative;

  &__genres {
    position: absolute;
    top: 4px;
    border-radius: 4px;
    left: 0;
    width: 170px;
  }

  &__status {
    margin-bottom: -10px;
    display: flex;
    margin-top: 6px;
  }

  &__year {
    font-weight: bold;
  }

  &__rating {
    font-weight: bold;
  }

  &__submit {
    display: flex;
    align-items: center;
    padding-top: 10px;
  }
}

.card__save {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
}

.card__delete {
  display: none;
  position: absolute;
  top: -7px;
  right: 40px;
  color: #bbb7b7;
  border: none;
  background: none;
  font-size: 26px;
  padding: 3px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    color: #f44336;
  }

  .card:hover & {
    display: block;
  }
}

.card__image {
  width: 170px;
  height: 250px;
  object-fit: cover;
  margin-top: 4px;
  border-radius: 2px;
}

.card__info {
  position: relative;
  display: flex;
  align-items: flex-start;
}

.card__link {
  margin-top: 15px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background: $tooltip;
  color: $inverted;
  padding: 1px 5px 4px;
  width: 170px;
  box-sizing: border-box;
  border-radius: 2px;

  ::ng-deep {
    a {
      color: $inverted;
    }
  }
}

.card__title {
  font-size: 16px;
  line-height: 1.3em;
  display: flex;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.title-text {
  display: block;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__description {
  padding-left: 10px;
  max-height: 255px;
  overflow: hidden;
  flex: 1;

  &:hover {
    overflow: auto;
    padding-right: 3px;
  }

  @include customScroll();
}

.card__subtitle {
  display: flex;
  margin-top: 4px;
}

.card__episodes {
  margin-left: 20px;
}

.comment {
  display: block;
  width: 330px;
  margin-top: 5px;
}

.meta-data-box {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  background: #ffffff;
  border: 5px solid #fff;
  display: block;
}

.star-box {
  display: flex;
  margin-left: auto;
  font-size: 12px;
  align-items: center;
  cursor: pointer;
}

.star {
  @include star;
  --star-color: #0091ea;
  --star-hover-color: #0091ea;
  --star-selected-color: #0091ea;
  --star-size: 9px;

  margin-left: 3px;

  &.-completed {
    --star-color: #ffeb3b;
  }

  &.-edit-mode {
    --star-color: #00c853;
  }
}
