@import "libs/filecab/ui-kit/src/theme/main";
@import "libs/filecab/ui-kit/src/theme/prime-ng";

body {
  @include initTheme();
}


body {
  padding: 0;
  margin: 0;

  &.-browser {
    width: 310px;
    margin: 0 auto 20px;
    padding: 20px 0;
    box-sizing: border-box;
  }
}
