<div class="root" [formGroup]="formGroup">
  <h2 class="title">Edit integration</h2>

  <mat-tab-group (selectedTabChange)="onTabChange($event)">
    <mat-tab *ngFor="let type of types" [label]="type"></mat-tab>
  </mat-tab-group>

  <div class="card" *ngFor="let item of fields$ | async">
    <div class="field">
      <span class="name">{{ item.title }}</span> <input class="input" [formControlName]="item.field"/>
    </div>

    <div class="help" [innerHTML]="makeHelp(item.help) | async"></div>
  </div>

  <div class="line">
    <div *ngIf="loading$ | async" class="message">
      <h2>Checking</h2>
      <mat-spinner></mat-spinner>
    </div>

    <button
      class="save"
      mat-raised-button
      color="primary"
      [disabled]="loading$ | async"
      (click)="save()"
    >
      Save
    </button>
  </div>
</div>
