<section class="block-about">
  <div class="container">
    <div>
      <app-title>Я Виктор Захаров</app-title>
      <p class="text">Работаю FrontEnd разработчиком в компании SkyEng.</p>
      <p class="text">Помимо основной работы занимаюсь фриланс проектами в роли
        <br> FullStack: сайтами, CRM системами, сложными FrontEnd кейсами.</p>
      <p class="text">Моя миссия - делать использование приложений максимально простым <br> и удобным.</p>
      <div class="block-contacts">
        <section class="item">
          <h3 class="item__subtitle">ТЕЛЕФОН</h3>
          <p class="item__text">+7 (927) 901 47-16</p>
        </section>
        <section class="item">
          <h3 class="item__subtitle">EMAIL</h3>
          <p class="item__text">viktor@apilab.ru</p>
        </section>
        <section class="item">
          <h3 class="item__subtitle">АДРЕСС</h3>
          <p class="item__text">Россия, Самара</p>
        </section>
        <section class="item">
          <h3 class="item__subtitle">ССЫЛКИ</h3>
          <p class="item__text"></p>
        </section>
      </div>
      <button class="button">
        связаться со мной
      </button>
    </div>
    <div>
      <img class="img" src="./assets/img/me.jpg" alt="Мое фото">
    </div>
  </div>
</section>
