<section class="block-about">
  <div class="container">
    <div>
      <app-title>Я Виктор Захаров</app-title>
      <p class="text">Работаю Lead FrontEnd разработчиком в компании SkyEng.</p>
      <p class="text">Помимо основной работы занимаюсь фриланс проектами в роли
        <br> FullStack: сайтами, CRM системами, сложными FrontEnd кейсами.</p>
      <p class="text">Моя миссия - делать использование приложений максимально простым <br> и удобным.</p>
      <div class="block-contacts">
        <!--section class="item">
          <h3 class="item__subtitle">ТЕЛЕФОН</h3>
          <p class="item__text">+7 (927) 901 47-16</p>
        </section-->
        <section class="item">
          <h3 class="item__subtitle">EMAIL</h3>
          <p class="item__text">viktor@apilab.ru</p>
        </section>
        <section class="item">
          <h3 class="item__subtitle">АДРЕСС</h3>
          <p class="item__text">Россия, Самара</p>
        </section>
        <section class="item">
          <h3 class="item__subtitle">ССЫЛКИ</h3>
          <p class="item__text">
            <a class="about__link" href="https://www.facebook.com/apilabru">
              <span class="icon-facebook"></span>
            </a>
            <a class="about__link" href="https://vk.com/yoxai">
              <span class="icon-vk"></span>
            </a>
            <a class="about__link" href="https://github.com/apilab-ru/">
              <span class="icon-github"></span>
            </a>
            <a class="about__link" href="https://t.me/apilab">
              <span class="icon-telegram"></span>
            </a>
          </p>
        </section>
      </div>
      <a class="button" href="mailto:viktor@apilab.ru">
        связаться со мной
      </a>
    </div>
    <div>
      <div class="my-photo"></div>
      <!--img class="img" src="./assets/img/me-postered.jpg" alt="Мое фото"-->
    </div>
  </div>
</section>
