<app-card-edit
  *ngIf="baseInfo$ | async as baseInfo"
  [selectedType]="baseInfo.type"
  [name]="baseInfo.name"
  [item]="libraryItem$ | async"
  [isShowLibrary]="isShowLibrary"
  (update)="onUpdate($event)"
  (updateSearchData)="onUpdateSearchData($event)"
></app-card-edit>

<ng-container *ngIf="!(item$ | async)">
  <app-founded-list
    *ngIf="foundedList$ | async as foundedList"
    [list]="foundedList"
    [genres]="genres$ | async"
    (selectedChange)="selectItem($event)"
  ></app-founded-list>
</ng-container>

<app-loader
  *ngIf="isLoading$ | async"
  class="loader"
></app-loader>
