@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeicons/primeicons.css";
@import "libs/ui-kit/src/angular-cdk/overlay";

html,
body {
  font-size: 12px;
}

.box {
    margin: 20px;
}

.flex-line {
    display: flex;
}
