<div class="root">
  <div class="paths">
    <a *ngFor="let path of paths$ | async; let index = index" class="path" (click)="goToPath(path)">
      {{ path.key }}
    </a>

    <button
      *ngIf="isChanged"
      class="button-save"
      mat-raised-button
      color="primary"
      (click)="saveJson()"
    >
      Save changes
    </button>
  </div>

  <div class="rows-box">
    <div *ngIf="data$ | async as data" class="rows">
      <je-json-row
        class="row"
        key="root"
        [data]="tempData"
        [selected]="getSelectedDeepKey(0) | async"
        (selectKey)="selectPath($event)"
      ></je-json-row>

      <je-json-row
        *ngFor="let path of paths$ | async; let index = index; trackBy: trackByPath"
        class="row"
        [key]="path.key"
        [data]="pickData(tempData, path)"
        [selected]="getSelectedDeepKey(index + 1) | async"
        (selectKey)="selectPath($event, path)"
        (updateValue)="onUpdateValue($event, path)"
      ></je-json-row>
    </div>
  </div>
</div>
