@import "libs/ui-kit/src/scroll/main";

.root {
  font-size: 16px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.rows-box {
  overflow-x: auto;
  overflow-y: hidden;
  flex: 1;
  @include customScrollBar();
}

.rows {
  display: flex;
  height: 100%;
  overflow-y: hidden;
  @include customScrollBar();
}

.paths {
  display: flex;
  padding: 5px 0;
}

.path {
  cursor: pointer;
  padding: 1px 2px;

  & + & {
    &:before {
      content: '/';
      padding: 0 2px;
      display: inline-block;
    }
  }
}

.row {
  max-width: 500px;
  display: block;

  & + & {
    margin-left: 20px;
  }

  &:last-of-type {
    padding-right: 50px;
  }
}
