// @import "../../../../../shared/styles/custom-scroll";

:host {
  border: 5px solid #3f51b5;
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
  padding: 5px;
  overflow: hidden;
}

.router-content {
  flex: 1;
  overflow: auto;
  height: calc(100vh - 58px);
  // @include customScroll();
}
