<ng-container *ngIf="!(parserPreset$ | async)?.founded">
  <app-popup
    *ngIf="baseInfo$ | async as baseInfo; else empty"
    [baseInfo]="baseInfo"
    (onSaveEvent)="onSave()"
  ></app-popup>
</ng-container>

<ng-template #empty>
  <a
    mat-raised-button
    color="primary"
    [href]="'/cabinet/index.html?/'"
    target="_blank"
  >
    Библиотека
  </a>
</ng-template>

<app-popup-import
  *ngIf="parserPreset$ | async as parserPreset"
  class="popup-import"
  [parserPreset]="parserPreset"
></app-popup-import>
