@import '../../styles/colors';

.block-feedback {
  padding: 40px 0;
  border-bottom: 1px solid $lightGray;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.flex__row-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 15px;
}

.flex__row-right {
  flex: 2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 22px;
}
