@import "libs/filecab/ui-kit/src/theme/main";
@import "libs/filecab/ui-kit/src/theme/prime-ng";
@import "../src/resources/icomoon/style";

body {
  @include initTheme();
  color: var(--text-color);
}

html, body {
  padding: 0;
  margin: 0;
  height: 100vh;
}
