@import "libs/filecab/ui-kit/src/theme/main";
@import "libs/filecab/ui-kit/src/theme/prime-ng";
@import "libs/filecab/ui-kit/src/theme/icomoon/style";

@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "@angular/material/theming";

body {
  @include initTheme();
  color: var(--text-color);
}

html, body {
  padding: 0;
  margin: 0;
  height: 100vh;
}
