@import "assets/fonts/style.css";
@import "breakpoints";
@import "libs/ui-kit/src/angular-cdk/overlay";

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #252525;
  line-height: 1.5em;
}

.mat-dialog-container {
  position: relative;

  @include isMobile() {
    border-radius: 0 !important;
  }
}

.mat-dialog-content {
  @include isMobile() {
    max-height: calc(100vh - 32px) !important;
  }
}

.cdk-overlay-pane {
  @include isMobile() {
    max-width: 100vw !important;
  }
}
