<div class="root">
  <div *ngIf="!(ready$ | async)" class="message">
    <h2>Prepare export data</h2>
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="(ready$ | async) && !(process$ | async)" class="message">
    <h2>Export data</h2>
    <input class="input" [(ngModel)]="date" [mask]="'0000-00-00'" [dropSpecialCharacters]="false"/>

    <button class="button" mat-raised-button color="primary" (click)="start()">
      Start
    </button>
  </div>

  <div *ngIf="process$ | async" class="message">
    <h2>Process export data</h2>
    <mat-spinner></mat-spinner>
  </div>
</div>
