.root {
  display: flex;
  border-bottom: 1px solid #f1f1f1;
  align-items: center;
}

.button {
  margin-left: auto;
}

.icon {
  display: inline-block;
  width: 80px;
  height: 20px;

  &.-type-clockify {
    background: url('./images/clockify.svg') no-repeat;
    background-size: contain;
  }

  &.-type-jira {
    background: url('./images/jira.png') no-repeat;
    background-size: contain;
  }
}
