@import "vars";
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "@angular/material/theming";

body {
  padding: 0;
  margin: 0;
  @include colors();
  font-family: Roboto, sans-serif;

  color: var(--color-primary-text);
}
