<div class="search">
  <mat-radio-group
    aria-labelledby="example-radio-group-label"
    class="search__setting"
    [ngModel]="modeChanges() | async"
    (ngModelChange)="changeMode($event)">
    <mat-radio-button value="search" class="search__setting-item">
      Поиск
    </mat-radio-button>
    <mat-radio-button value="library">
      Библиотека
    </mat-radio-button>
  </mat-radio-group>

  <app-clever-search class="search__input"
                     [keys]="searchKeys"
                     [status]="searchStatus$ | async"
                     (statusChanges)="updateSearch($event)"></app-clever-search>
</div>

<nav mat-tab-nav-bar backgroundColor="primary">
  <a mat-tab-link
     *ngFor="let link of (navLinks$ | async)"
     [routerLink]="link.path"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    {{ link.name }}
  </a>
</nav>

<router-outlet></router-outlet>
