:host {
  display: flex;
  flex-direction: column;
  min-height: calc(100% - 10px);
}

.data {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr;

  @media screen and (min-width: 1020px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media screen and (min-width: 1280px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media screen and (min-width: 1800px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  &.-empty {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.message {
  font-size: 18px;
  margin-top: 160px;
  margin-bottom: auto;
}
