.root {
  padding: 24px;
  background: #2c2c2c;
  width: 300px;
  color: #fff;
}

.item {
  & + & {
    margin-top: 12px;
  }
}

.control {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.input-box {
  position: relative;
}

.message {
  padding: 4px;
  color: red;
}