<div class="root">
   <label class="control item">
      <p-checkbox [ngModel]="isEnable$ | async" (ngModelChange)="toggleEnable($event)" [binary]="true"></p-checkbox> Включенно
   </label>

   <label class="control item">
      <p-checkbox [ngModel]="isReload$ | async" (ngModelChange)="toggleReload($event)" [binary]="true"></p-checkbox> Авто релоад конфига
   </label>

   <div class="input-box item">
      <input
         #rhythmInput
         class="input"
         placeholder="'Конвертер в rhythm'"
      >
      <button class="button" (click)="convertAndCopy(rhythmInput.value)">Конвертировать</button>
   </div>

   <div class="input-box item">
      <input
        class="input"
        placeholder="Тест"
        [ngModel]="test$ | async"
        (ngModelChange)="updateTest($event)"
      >
   </div>

   <div *ngIf="(isRuleLoaded$ | async) === false" class="message item">
      Конфиг не загружен
   </div>

   <button class="control item button" (click)="loadConfig()">Загрузить конфиг</button>

   <p-toast></p-toast>
</div>

