.root {
  padding: 24px;
  background: #2c2c2c;
  width: 300px;
  color: #fff;
}

.control {
  display: flex;
  align-items: center;
  cursor: pointer;

  & + & {
    margin-top: 12px;
  }
}

.input-box {
  margin-top: 12px;
  position: relative;
}