@import "libs/ui-kit/src/breakpoints/main";

:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

.list {
  flex: 1;
  height: 100%;
  overflow: hidden;
  padding-top: 12px;

  --ui-grid-columns: 1fr;

  @media screen and (min-width: 1020px) {
    --ui-grid-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: 1280px) {
    --ui-grid-columns: repeat(4, 1fr);
  }

  @media screen and (min-width: 1800px) {
    --ui-grid-columns: repeat(5, 1fr);
  }
}

.search-box {
  display: flex;
  margin-left: 60px;
}

.mode-select {
  display: flex;
  max-height: 48px;
  margin-left: -5px;
  z-index: 1;

  @include mobile() {
    margin-left: 0;
  }
}

.mode {
  cursor: pointer;
  background: #fff;
  color: var(--text-color);
  border: none;
  padding: 2px 12px 0;
  box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
  transition: 0.3s;

  &:first-of-type {
    border-radius: 4px 0 0 4px;
  }

  &:last-of-type {
    border-radius: 0 4px 4px 0;
  }

  &:hover:not(.-checked) {
    background: var(--surface-c);
  }

  &.-checked {
    background: var(--primary-700);
    color: var(--primary-color-text);
    box-shadow: 0 0 0 0;
  }
}

.filter-search {
  margin-left: 8px;
}