<ng-template filecabLayoutTopSlot>
   <div class="search-box">
      <div class="mode-select">
         <button
            class="mode"
            [class.-checked]="(mode$ | async) === LibraryMode.library"
            title="Библиотека"
            (click)="changeMode(LibraryMode.library)"
         >
            <span class="icon-folder"></span>
         </button>
         <button
            class="mode"
            [class.-checked]="(mode$ | async) === LibraryMode.search"
            title="Поиск"
            (click)="changeMode(LibraryMode.search)"
         >
            <span class="icon-search"></span>
         </button>
      </div>

      <lib-filter-search
         class="filter-search"
         [value]="searchData$ | async"
         [list]="((mode$ | async) === LibraryMode.library) ? filterListLibrary : filterListSearch"
         (valueChanges)="onUpdateSearch($event)"
      ></lib-filter-search>
   </div>
</ng-template>

<filecab-list
   class="list"
   [list]="list$ | async"
   [limitList]="limitList"
   [orderFields]="orderFields"
>
   <filecab-card
      *listIterator="let item of (list$ | async); trackBy: trackById"
      [item]="item"
      [isLibraryMode]="(mode$ | async) === LibraryMode.library"
      (updateItem)="onUpdateItem($event)"
      (deleteItem)="onDeleteItem(item.item.id)"
   ></filecab-card>
</filecab-list>