:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

.list {
  flex: 1;
  height: 100%;
  overflow: hidden;
  padding-top: 12px;

  --ui-grid-columns: 1fr;

  @media screen and (min-width: 1020px) {
    --ui-grid-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: 1280px) {
    --ui-grid-columns: repeat(4, 1fr);
  }

  @media screen and (min-width: 1800px) {
    --ui-grid-columns: repeat(5, 1fr);
  }
}