.modal {
  max-width: 760px;
}

.close {
  position: absolute;
  top: 7px;
  right: 7px;
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #2385e7;
  border: none;
  color: #ffffff;
  fill: #ffffff;
  border-radius: 3px;

  &:hover {
    box-shadow: 10px 10px 20px rgb(51 51 255 / 20%);
  }
}

.details {
  margin-top: 16px;
}

.image {
  max-width: 100%;
}

.line {
  display: flex;

  & + & {
    margin-top: 3px;
  }
}

.key {
  width: 90px;
  font-weight: 700;
}

.link {
  color: #252525;
  transition: all .3s ease;
  text-decoration: underline;
  display: block;

  &:hover {
    color: #2385e7;
  }
}

.detail-item {
  margin-top: 16px;
}

.text + .image {
  margin-top: 6px;
  display: block;
}
