<div class="zig-zag__box">
  <svg class="zig-zag primary" xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px"
       viewBox="0 0 105 20" xml:space="preserve">
          <g><rect class="st0" width="105" height="20"></rect>
            <g><polyline class="zig-zag__polyline" points="2.5,5 16.8,15 31.1,5 45.3,15 59.6,5 73.9,15 88.2,5 102.5,15"></polyline></g></g>
        </svg>
  <svg class="zig-zag" xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="0 0 105 20"
       xml:space="preserve">
          <g><rect class="st0" width="105" height="20"></rect>
            <g><polyline class="zig-zag__polyline" points="2.5,5 16.8,15 31.1,5 45.3,15 59.6,5 73.9,15 88.2,5 102.5,15"></polyline></g></g>
        </svg>
</div>
