@import '../../styles/colors';

.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 270px;
  min-height: 380px;
  padding: 0;
  margin: 15px 30px 15px 0;
  cursor: pointer;
  z-index: 1;
  background-color: $white;
  border: none;
}

.container-img {
  overflow: hidden;
}

.img {
  width: 270px;
  height: 270px;
  border-radius: 2px;
  transition: all .3s ease;

  &:hover {
    transform: scale(1.2);
  }
}

.title {
  text-align: left;
  font-size: 16px;
  margin: 10px 0;
}

.date {
  font-size: 16px;
  color: $gray;
  margin: 0;
}


