<section class="block-skills">
  <div class="container">
    <div class="flex__row-left">
      <app-title>Навыки</app-title>
      <p class="text">Я считаю, что разработка - моё призвание.
        Разработка в команде таких же увлечённых людей - мечта.
        <br>
        Разработка приложений, которые решают проблемы клиента и радуют пользователей - цель.
      </p>
      <app-svg-zigzag></app-svg-zigzag>
    </div>
    <div class="flex__row-right">
      <div class="skill-card line">
        <h3 class="card__subtitle">Frontend разработка</h3>
        <p class="card__text">
          Angular2+, HTML5, Javascript, TypeScript, ES6,
          SCSS, Webpack, NPM, NGRX
        </p>
      </div>
      <div class="skill-card line">
        <h3 class="card__subtitle">Backend разработка</h3>
        <p class="card__text">PHP, MySql, Swagger, Nodejs, Java</p>
      </div>
      <div class="skill-card">
        <h3 class="card__subtitle">Разработка</h3>
        <p class="card__text">Git, Командный CodeStyle, ООП, Паттерны проектирования, Redux</p>
      </div>
      <div class="skill-card">
        <h3 class="card__subtitle">UI/UX</h3>
        <p class="card__text">Photoshop, InVision, Zeplin, Gimp, Прототипирование, Тестирование</p>
      </div>
    </div>
  </div>
</section>
