.card {
  box-sizing: border-box;
  position: relative;

  &__genres {
    margin-bottom: 0.5em;
  }

  &__delete {
    position: absolute;
    top: 8px;
    right: -10px;
    color: #bbb7b7;
    border: none;
    background: none;
    font-size: 26px;
    padding: 3px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      color: #f44336;
    }
  }

  &__info {
    display: flex;
    align-items: flex-start;
  }

  &__title {
    font-size: 16px;
    min-height: 2.69em;
    display: flex;
    align-items: center;
  }

  &__description {
    padding-left: 10px;
    max-height: 271px;
    overflow: auto;
    flex: 1;
  }

  &__image {
    width: 180px;
    height: 270px;
    object-fit: cover;
  }

  &__link {
    margin-top: 15px;
    display: block;
  }

  &__status {
    margin-bottom: -10px;
    display: flex;
    margin-top: 6px;
  }

  &__subtitle {
    display: flex;
    justify-content: space-between;
  }

  &__year {
    font-weight: bold;
  }

  &__rating {
    font-weight: bold;
  }

  &__submit {
    display: flex;
    align-items: center;
    padding-top: 10px;
  }

  &__save {
    position: absolute;
    bottom: 0;
    right: 15px;
  }
}

.comment {
  display: block;
  width: 330px;
  margin-top: 5px;
}
