:host {
  display: block;
  width: 300px;
  background: #ffffff;
}

.status-box {
  width: 100%;
  margin: 15px 0 -10px;
}

.controls {
  margin-top: 10px;
  display: flex;
}

.progress {
  margin-top: 10px;
}

.save-btn {
  margin-left: auto;
}

.textarea-box {
  width: 100%;
  margin: 10px 0 -10px;
}
