<div class="root" [formGroup]="formGroup">
  <div class="load-box">
    <mat-form-field *ngIf="isSearchMode" class="input-box">
      <mat-label>Название материала</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <div *ngIf="isSearchMode" class="buttons">
      <button
        *ngFor="let type of types"
        class="button"
        mat-raised-button
        [color]="type.path === selectedType ? 'accent' : 'primary'"
        (click)="selectType(type.path)"
      >
        {{ type.name }}
      </button>
    </div>

    <mat-form-field class="status-box">
      <mat-label>Статус</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let status of statuses" [value]="status.status">
          {{ status.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <app-stars
      *ngIf="isShowStar$ | async"
      class="app-stars"
      formControlName="star"
    ></app-stars>

    <app-progress
      *ngIf="isShowProgress$ | async"
      class="progress"
      [item]="item?.item"
      formControlName="progress"
    ></app-progress>
  </div>
  <div class="controls">
    <a
      *ngIf="isShowLibrary"
      mat-raised-button
      color="primary"
      [href]="'/cabinet/index.html?/' + selectedType"
      target="_blank"
    >
      Библиотека
    </a>

    <button
      class="save-btn"
      mat-raised-button
      color="primary"
      (click)="save()"
    >
      Сохранить
    </button>
  </div>

  <mat-form-field class="textarea-box">
    <mat-label>Коммент</mat-label>
    <textarea matInput formControlName="comment"></textarea>
  </mat-form-field>
</div>
