@import '../../styles/colors';
@import '../../styles/breakpoints';

.block-experience {
  padding: 40px 0;
  border-bottom: 1px solid $lightGray;

  @include isMobile() {
    padding: 15px;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;

  @include isMobile() {
    display: block;
  }
}

.flex__row-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 15px;

  @include isMobile() {
    margin-right: 0;
    border-bottom: 1px solid $backgroundFooter;
  }
}

.about {
  @include isMobile() {
    margin: 12px 0 12px;
  }
}

.flex__row-right {
  flex: 2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 22px;

  @include isMobile() {
    margin-left: 0;
  }
}

.item-work {
  display: block;
  border-bottom: 1px solid $backgroundFooter;
  margin-top: 20px;

  &:last-of-type {
    border: none;
  }
}

.zig-zag {
  @include isMobile() {
    display: none;
  }
}
