.root {
  min-width: 320px;
  padding: 5px;
}

.menu {
  display: flex;
  margin-bottom: 10px;

  ::ng-deep {
    .p-selectbutton {
      display: flex;
      width: 100%;
    }

    .p-button {
      padding-top: 8px;
      padding-bottom: 8px;
      flex: 1;
      font-size: 13px;

      &:nth-of-type(2) {
        flex: 0.5;
      }
    }
  }
}
