@import '../../styles/colors';
@import '../../styles/breakpoints';

.block-portfolio {
  padding: 40px 0;
  border-bottom: 1px solid $lightGray;

  @include isMobile() {
    padding: 15px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.filter {
  display: flex;
  margin-top: 24px;

  @include isMobile() {
    display: none;
  }
}

.filter__item {
  text-decoration: none;
  cursor: pointer;
  color: $black;
  margin-right: 25px;
  transition: all 0.3s ease;

  &:hover {
    color: $blue;
  }

  &.-active {
    color: $blue;
  }
}

.block-projects {
  -webkit-backface-visibility: hidden;
}

.card {
  display: inline-block;
  width: 25%;

  @include isMobile() {
    width: 100%;
    display: block;
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 20px;

    & + & {
      margin-top: 30px;
    }

    &:last-of-type {
      border-bottom: none;
    }
  }
}
